.main {
  height: 85vw;
  background-color: black;
  // margin-top: 20vh;
  // margin-bottom: 5vh;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // top: -50px;
  z-index: 15;
  // Media query for medium screens
  @media (min-width: 768px) and (max-width: 1024px) {
    // height: 60vh;
  }
  // Media query for large screens
  @media (min-width: 1024px) {
    // height: 80vh;
  }
}
